name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.16.3'
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Run CI checks
        run: make ci

  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: golangci/golangci-lint:v1.35.2
    timeout-minutes: 10
    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run lint
        run: make lint

  codespell:
    name: Codespell
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - uses: actions/checkout@v2
      - name: Codespell test
        uses: codespell-project/actions-codespell@master
        with:
          skip: ./.git,./vendor,./bin,./go.sum
          ignore_words_file: '.codespell.ignorewords'
          check_filenames: true
          check_hidden: true

  image:
    name: Image
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test building Docker image
        run: make image
